body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.icono-carrito{ 
    padding-top: 10px;
    margin-right: 10px;
}

/*Lista de productos*/

.titulo-lista{
    font-size: 25px;
    text-align: center;
}


/*Header*/

.header{
    width: 2400px;
    height: 600px;
    background: url(./components/HeaderWeb/imagen/header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}